{% extends 'base.html' %}
{% block content %}
<h3>{{ camera.name }}</h3>
<div class="row g-3">
  <div class="col-lg-6"><div class="card"><div class="card-body">
    <h6>Last Annotated Snapshot</h6>
    <img class="img-fluid" src="/data/annotated/{{ camera.id }}.jpg" onerror="this.style.display='none'">
  </div></div></div>
  <div class="col-lg-6"><div class="card"><div class="card-body"><canvas id="line"></canvas></div></div></div>
</div>
<div class="card mt-3"><div class="card-body"><canvas id="hist"></canvas></div></div>
<script>
new Chart(document.getElementById('line'), {type:'line', data:{labels: {{ labels|tojson }}, datasets:[{label:'persons', data: {{ values|tojson }}, borderColor:'#0d6efd'}]}});
new Chart(document.getElementById('hist'), {type:'bar', data:{labels:[...Array(24).keys()], datasets:[{label:'hourly persons', data: {{ by_hour|tojson }}, backgroundColor:'#198754'}]}});
</script>
{% endblock %}
